<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>

    <%- include("header") -%>

    <div>
        <div>
            <h1>Let's Start a new Habit</h1>
        </div>
        <form action="create/habit" method="POST">
            <input type="text" placeholder="Enter Habit" name="name">
            <button type="submit">Add Habit</button>
        </form>
    </div>
    <main>
        <h1>Habits</h1>
        <div>
            <% for(let i of habitList) { %>
                <div>
                    <%= i.Name %>
                </div>
                <div>
                    <span>Completed:</span> <%= i.Completed %> / <%= i.Days.length %> </br>
                    <span>Longest Streak:</span><%= i.Streak %>
                </div>
            <% } %>
        </div>
    </main>

</body>
</html>